<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
    <title>アクセス時間を返すページ</title>
  </head>
  <body>
    <h1>あなたはこのページに {{ current_time }} にアクセスしました。</h1>
  </body>
</html>